@import '../../styles/partials/variables';

.project {
    position: relative;
    overflow: hidden;
    width: calc(100%/4);
    padding-right: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;

    &__inner{
        height: auto;
        max-width: 100%;
        background-size: cover;
        background-position: center;
    }
  }

  @media screen and (max-width: $desktop){
    .project{
        width: calc(100%/4);
    }
  }
  @media screen and (max-width: $landscape){
    .project{
        width: calc(100%/3);
    }
  }
  @media screen and (max-width: $tablet){
    .project{
        width: calc(100%/2);
    }
  }
  @media screen and (max-width: $mobile){
    .project{
        width: 100%;
    }
  }